# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\lotus\KookclubAppKotlinJS\kookclub-app-gradle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/build/
/build/classes/kotlin/jvm/main/
/build/js/packages/kookclub-gradle/kotlin/
/.idea/